header {
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.list-address {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    gap: 50px;
  }
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  color: var(--main-txt-color);
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }
}

.link-address {
  display: flex;
  gap: 10px;
  align-items: center;

  text-decoration: none;
  font-weight: 500;
  color: var(--secondary-txt-color);
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }
}
.link.current {
  position: relative;
  color: var(--accent-txt-color);

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;

    border-radius: 2px;
    background-color: var(--accent-bg-color);
  }
}

.contacts-icon {
  fill: var(--secondary-txt-color);
  transition: fill 250ms var(--timing-function);

  .link-address:hover &,
  .link-address:focus & {
    fill: var(--accent-txt-color);
  }
}
