// 480px,
// 768px
//  1200px.

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  // outline: 2px solid tomato;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
